.slider__img {
  display: block;
  width: 85px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
}

.slider__item {
  text-align: center;
}
.slider__box {
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 1034px;
  background: #FAFAFA;
  padding: 40px 110px 40px 110px;
  text-align: center;
}

.slider__text {
  display: block;
  margin: 0;
  padding: 0;
}

.slider__dots {
margin-top: 16px;
}

.slick-track{
  display: flex;
}

.slick-dots{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.slick-dots li{
  list-style: none;
  margin-right: 18px;
}

.slick-dots li.slick-active button{
  background-color: transparent;
  border-radius: 0;
  background-image: url(../images/house.svg);
  width: 12px;
  height: 12px;
 
}

.slick-dots li button{
  cursor: pointer;
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #D9D9D9;
  border-radius: 50%;
  border: none;
  
}
.slick-dots li:last-child {
  margin-right: 0;
}