
<div class="slider">
  <div class="slider__item">
    <img class="slider__img" src="./images/photo_1.png" alt="">
    <div class="slider__box">
      <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
     
    </div>
    <img class="slider__dots" src="./images/dots.png" alt="">
    <p class="slider__name">Emily, Los Angeles</p>
  </div>
  <div class="slider__item">
    <img class="slider__img" src="./images/photo_2.png" alt="">
    <div class="slider__box">
      <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
     
    </div>
    <img class="slider__dots" src="./images/dots.png" alt="">
    <p class="slider__name">Emily, Los Angeles</p>
  </div>
  <div class="slider__item">
    <img class="slider__img" src="./images/photo_3.png" alt="">
    <div class="slider__box">
      <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
     
    </div>
    <img class="slider__dots" src="./images/dots.png" alt="">
    <p class="slider__name">Emily, Los Angeles</p>
  </div>
</div>